.hero-unit
  %h1 Welcome to Open Docket/Newton
  %h2 This is a prototype docket management system for Newton, MA.
  %div(style="width:400px; float: left; text-align:left")
    Committees
    - @committees.each do |committee| 
      %div(style="text-align:left;")
      = link_to committee.name, committee 
    /     Current user causes failure when user is not logged in
  /      - if current_user.admin? 
  /        = " | "
  /        = link_to "edit", edit_committee_path(committee.id)
  %div(style="width:400px; float:left; text-align:left; padding-bottom: 20px;")
    Upcoming Meetings
    %div(style="width:400px; float:left; text-align:left; padding-bottom: 20px;height:150px;overflow:auto;")
      - @meetings.each do |meeting| 
        %div(style="text-align:left;")
        = link_to meeting.name_date_string, meeting 
    /     Current user causes failure when user is not logged in
  /      - if current_user.admin? 
  /        = " | "
  /        = link_to "edit", edit_committee_path(committee.id)
  /  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
  = link_to image_tag("OpenDocket_02.png", alt: "Open Docket"), 'http://opendocket.org/'
