<div class="center hero-unit">
  <h1>Welcome to Open Docket</h1>

  <h2>
     This is the home page for the
    <a href="http://opendocket.org/">Open Docket</a> application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("opendocket.png", alt: "Open Docket"), 'http://opendocket.org/' %>


