.center.hero-unit
  %h1 Welcome to Open Docket
  %h2 This is the home page for the Open Docket application.
  %ul(class="committees")
  - @committees.each do |committee| 
    %li
      = link_to committee.name, committee 
  /     Current user causes failure when user is not logged in
  /      - if current_user.admin? 
  /        = " | "
  /        = link_to "edit", edit_committee_path(committee.id)
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
  = link_to image_tag("OpenDocket_02.png", alt: "Open Docket"), 'http://opendocket.org/'
