<li>
  <%= link_to person.name, person %>
  <% if current_user && current_user.admin? %>
    | <%= link_to "delete", person, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
