<% provide(:title, 'Docket Items') %>
<h1>Docket Items</h1>

<ul class="docketitems">
  <% @docketitems.each do |docketitem| %>
    <li>
      <%= link_to docketitem.number, docketitem %>
      <% if current_user.admin? %>
        | <%= link_to "edit", edit_docket_item_path(docketitem.id) %>
      <% end %>
    </li>
  <% end %>
</ul>


