<% provide(:title, 'Committees') %>
<h1>Committees</h1>

<ul class="committees">
  <% @committees.each do |committee| %>
    <li>
      <%= link_to committee.name, committee %>
      <% if current_user.admin? %>
        | <%= link_to "edit", edit_committee_path(committee.id) %>
      <% end %>
    </li>
  <% end %>
</ul>

