<li>
<span class="content">
  <%= activity.message %>
</span>
<span class="content">
  <%= activity.note %>
</span>
<span class="timestamp">
  <%= activity.date_actual.strftime("%m/%d/%y") %>
</span>
</li>


